# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
.venv/
*.egg-info/

# Home Assistant local development
config/
deps/

# IDEs and operating systems
/.idea/
*.iml
.DS_Store
